# Site
title: "Ultraviollette's homepage" 
description: 'A GitHub Blog of Melissa Lee'
logo: '/assets/images/LogoMakr_7EuRuE.png'
favicon: '/assets/images/LogoMakr_7EuRuE.png'
baseurl: "" 
url: "https://ultraviollette.github.io"

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

# Pagination
paginate: 10
paginate_path: "/blog/page:num/"

# Defaults
defaults:
  - scope:
      path: "_posts"
    values:
      layout: "post"
      author: "mel"
      avatar: "/assets/images/LogoMakr_7EuRuE.png"

  - scope:
      path: ""
    values:
      layout: "page"

# Authors
authors:
  mel:
    name: "Melly"
    email: "plhw90@gmail.com"
    bio: "Python & Data Scraper Enthusiast"

# Build Settings
theme: jekyll-theme-minimal
markdown: kramdown
highlighter: rouge
permalink: /:title/

include: ["_pages"]
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules, vendor]
